:root {
	/* post */
	--post-txt-size: 16px;
	--post-txt-length: 70ch;
	--post-txt-height: 32px;

	/* scrollbar */
	--clr-scrollbar-thumb: hsl(173 10% 20%);

	/* shadows */
	--shadow-sm: 0px 0px 4px 4px hsl(0 0% 0% / 4%);
	--shadow-md: 0px 0px 10px 4px hsl(0 0% 0% / 10%);
	--shadow-lg: 0px 0px 20px 8px hsl(0 0% 0% / 20%);

	/* border radius */
	--rounded-4: 4px;
	--rounded-20: 20px;
}

/* html { */
/* 	font-size: 62.5%; */
/* 	scroll-behavior: smooth; */
/* 	scrollbar-width: thin; */
/* 	scrollbar-color: var(--clr-scrollbar-thumb) transparent; */
/*     @apply !bg-base-200 scroll-smooth scroll-pt-24	overflow-x-hidden overflow-y-scroll; */
/* } */

/* html, */
/* body { */
/* 	height: 100%; */
/* } */

*:focus {
	outline: none;
	box-shadow: 0 0 0 4px var(--clr-primary);
	border-radius: var(--rounded-20);
}

a {
	position: relative;
	font-weight: 700;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: var(--clr-primary);

		&::before {
			transform: scaleX(1);
		}
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s ease;
		background-color: var(--clr-link-background);
		border-radius: 4px;
		z-index: -1;
	}
}

table {
	border-collapse: collapse;
    @apply mb-12
}

th,
td {
	text-align: left;
	border: 1px solid hsl(0 0% 100% / 40%);
    @apply p-6
}

img,
iframe,
lite-youtube {
	border-radius: var(--rounded-20);
}

lite-youtube {
	box-shadow: var(--shadow-lg);
	margin-inline: auto;
}

lite-youtube::before {
	background: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
