.prose {
  @apply !max-w-none;
}

/* .prose heading */

.prose > :is(h1, h2, h3, h4, h5) > a::after {
    padding-left: 0px;
    padding-right: calc(var(--spacing) * 2);
}

.prose button {
    cursor: pointer;
}

/* .prose > :is(h1, h2, h3, h4, h5) > a { */
/*   @apply no-underline font-bold; */
/* } */

.prose > :is(h1, h2, h3, h4, h5) > a::after {
  @apply pl-2 text-base-text transition-all content-['#'];
}

/* .prose > :is(h1, h2, h3, h4, h5):hover > a::after { */
/*   @apply text-primary; */
/* } */

/* .prose table */

.prose div > table > thead {
  @apply border-0;
}

.prose div > table > thead > tr > th {
  @apply !relative;
}

/* .prose a */

.prose :is(p, li) > a {
  @apply bg-[length:100%_0.2em] hover:bg-[length:100%_100%] bg-[position:0_88%] bg-gradient-to-t from-secondary/50 to-secondary/40 bg-no-repeat transition-all ease-in-out !no-underline;
}

/* .prose misc */

.prose > p img {
  @apply w-full;
}

.prose :is(p, li) > code {
  @apply bg-base-200 px-2;
}

.prose li > input {
  @apply me-2 -my-0.5;
}

.prose hr {
  @apply border-none;
}

/* spoiler */

.spoiler {
  @apply blur-sm hover:blur-none active:blur-none transition-all select-all;
}
